.test1{
    background-color: seashell;
    border:2px solid black;
}

.test2{
    background-color:aquamarine;
    border:2px solid black;
    height: 400px;
}

.test3{
    background-color:lightcoral;
    border:2px solid black;
}

