<div class="container">
    <!-- Search by surface input and button -->
    <div class="input-group mt-2">
      <input type="number" [(ngModel)]="searchSurface" placeholder="Search by surface" class="form-control">
      <div class="input-group-append">
        <button (click)="filterApartmentsBySurface()" class="btn btn-primary">Search</button>
      </div>
    </div>
  </div>
  
  <!-- Display list of residences with both functionalities -->
  <div class="row">
    <div *ngFor="let residence of listResidences" class="col-md-4">
      <div class="card mb-4" style="width:400px">
        <img class="card-img-top" [src]="residence.image" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">{{ residence.name }}</h4>
          <p class="card-text">{{ residence.address }}</p>
          <!-- Show apartments button -->
          <button (click)="showApartments(residence)" class="btn btn-primary">Show apartments</button>
          <!-- Display apartments if selectedResidence matches -->
          <div *ngIf="selectedResidence === residence">
            <!-- Display apartments list with details and like functionality -->
            <div *ngIf="residenceApartments.length > 0">
              <h5>Apartments:</h5>
              <ul>
                <li *ngFor="let apartment of residenceApartments">
                  {{ apartment.description }}
                  <!-- Link to DetailsApartmentComponent -->
                  <a [routerLink]="['/apartment-details', apartment.id]" class="btn btn-outline-primary">Details</a>
                  <button (click)="addToFavorites(apartment)" class="btn btn-outline-primary">Like</button>
                </li>
              </ul>
            </div>
            <!-- Display message if no apartments found -->
            <div *ngIf="residenceApartments.length === 0">
              <p>No Apartment found</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Link to ApartmentsComponent for each residence -->
      <a [routerLink]="['/apartments', residence.id]" class="btn btn-primary">Details</a>
      <!-- Link to FormApartmentComponent for adding new apartment -->
      <a routerLink="/addApartment" class="btn btn-success">Add Apartment</a>
    </div>
  </div>